langchain
langchain-openai
langchain-cohere
langchain-docling
langchain_text_splitters
pydantic
pydantic-settings
fastapi
python-multipart
httpx
uvicorn[standard]

docling
pytest
fastembed
qdrant_client
