fastapi==0.115.12
uvicorn[standard]==0.34.0

langchain
langchain-docling
langchain_text_splitters
pydantic
pydantic-settings

docling
pytest
fastembed
qdrant_client

prometheus-client>=0.20
httpx>=0.27.0