langchain
langchain-cohere
langchain-openai
langchain-docling
langchain_text_splitters
pydantic
pydantic-settings
fastapi
python-multipart
httpx
uvicorn[standard]

docling
pytest
fastembed
qdrant_client
mlflow
minio
azure-storage-blob
pyodbc
